<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Banking QA Test Suite" parallel="methods" thread-count="2">

    <test name="Login Tests" enabled="true">
        <classes>
            <class name="com.dbs.banking.LoginTests"/>
        </classes>
    </test>

    <test name="Transfer Tests" enabled="true">
        <classes>
            <class name="com.dbs.banking.TransferTests"/>
        </classes>
    </test>

    <test name="Regression Tests" enabled="true">
        <classes>
            <class name="com.dbs.banking.RegressionTests"/>
        </classes>
    </test>

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

</suite>
